/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/


body {
    display: flex;
    flex-direction: column;
}

.purple-button {
    background-color: #192592;
    color: #fff;
    font-weight: 600;
    margin: 20px 0 0 0;
}

.white-button {
    background-color: #fff;
    color: #192592;
    font-weight: 600;
}

nav {
    display: flex;
    color: #5b5e6d;
}

.nav-mobile {
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 100%;
}

nav img {
    height: 30px;
}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    list-style-type: none;
}



@media screen and (max-width: 768px) {

    .mail-input {
        border-radius: 5px;
        padding: 20px;
        font-size: 1.2em;
        width: 455px;
        align-self: center;
        margin: 30px 0 20px 0;
    }

    body {
        display: flex;
        flex-direction: column;
    }

    nav {
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    nav img {
        height: 60px;
    }

    .fa {
        font-size: 2em;
        line-height: 60px;
        text-align: center;
    }

    nav ul {
        display: none;
    }

    button, input {
        width: 100%;
    }

    header {
        display: flex;
        flex-direction: column;
        padding: 0 20px;
        margin: 20px 30px;
    }

    header h1 {
        font-size: 4em;
        width: 6em;
        width: 500px;
        align-self: center;
    }

    header :nth-child(2) {
        font-size: 1.8em;
        line-height: 1.5em;
        width: 500px;
        align-self: center;
        color: #5b5e6d ;
    }

    header button {
        border-radius: 5px;
        padding: 20px;
        font-size: 1.2em;
        width: 500px;
        align-self: center;
        margin: 20px 0 0 0;
    }

    header :nth-child(5) {
        align-self: center;
        font-size: 1.6em;
    }

    main {
        background-color: #faf3f4;
        text-align: center;
    }

    main h2 {
        font-size: 2.5em;
        align-self: center;
    }

    main p {
        width: 500px;
        font-size: 1.6em;
        align-self: center;
        margin-bottom: 30px;
        text-align: center;
    }

    main div {
        display: flex;
        flex-direction: column;
    }

    main div:nth-child(2) p:first-child {
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 0;
    }

    main div button {
        width: 500px;
        align-self: center;
        padding: 20px;
        font-size: 1.2em;
        border-radius: 5px;
        border: 1px solid;
        margin-bottom: 50px;
    }

    main div img {
        width: 300px;
        padding: 30px;
        align-self: center;
        margin: 20px 0;
    }

    footer {
        display: flex;
        flex-direction: column;
    }

    footer div:first-child {
        display: flex;
        flex-wrap: wrap;
    }

    footer div:first-child img {
        width: 200px;
        margin-right: 17em;
    }

    footer ul {
        display: flex;
        flex-direction: column;
        width: 250px;
        color: #5b5e6d;
        font-family: sans-serif;
    }

    footer ul li {
        list-style-type: none;
        font-size: 1.3em;
        margin: 15px 0;
    }

    footer ul li:first-child {
        font-size: 1.5em;
        font-weight: 700;
    }

    footer div:nth-child(2) {
        display: flex;
        flex-direction: column;
        background-color: #faf3f4;
    }
    
    footer div:nth-child(2) ul {
        flex-direction: row;
        width: 500px;
        align-self: center;
        justify-content: space-evenly;
        padding: 0;
    }

    footer div:nth-child(2) ul li {
        font-size: 1.3em;
        font-weight: 700;
    }

    footer div:nth-child(2) div {
        flex-direction: row;
        align-self: center;
        flex-wrap: wrap;
        width: 245px;
        justify-content: space-evenly;
    }

    footer div:nth-child(2) img {
       width: 30px;
    }

    footer div:nth-child(2) span {
        margin-right: 10px;
        font-size: 1.3em;
        font-weight: 700;
        align-self: center;
        color: #5b5e6d;
    }

    footer div:nth-child(2) i.fab {
        align-self: center;
        font-size: 1.5em;
        margin: 30px 15px;
        color: #5b5e6d;
    }

    i.fas {
        align-self: center;
        font-size: 1.5em;
        margin: 0 15px;
        color: #5b5e6d;
    }
}